* {
    box-sizing: border-box;
}

:root {
    --primary: green;
    --secondary: lightgreen;
}

body {
    background-color: white;
}

.leftTop {
    width: 50%;
    float: left;
}

.rightTop {
    width: 50%;
    float: right;
}

.highScore {
    font-size: 15px;
    margin-left: 25px;
    font-weight: lighter;
    color: var(--secondary);
}

.timer {
    font-size: 15px;
    font-weight: lighter;
    margin-right: 25px;
    float: right;
}

.quizSetup {
    text-align: center;
}

#quizContent {
    background-color: rebeccapurple;
    margin-left: 30%;

}

h1 {
    font-size: 30px;
}

p {
    font-size: 20px;
    margin-left: 30%;
    margin-right: 30%;
}

.button {
    background-color: var(--primary);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    width: 90px;
}